AVDOMAIN="example.com"
AVUSER="admin@example.com"
CREATEADMIN="admin@example.com"
CREATEDOMAIN="example.com"
DOCREATEADMIN="no"
DOCREATEDOMAIN="yes"
EXPANDMENU="no"
HOSTNAME="ldap.example.com"
HTTPPORT="80"
HTTPPROXYPORT="8080"
HTTPSPORT="443"
HTTPSPROXYPORT="8443"
IMAPPORT="143"
IMAPPROXYPORT="7143"
IMAPSSLPORT="993"
IMAPSSLPROXYPORT="7993"
INSTALL_WEBAPPS="zimlet"
JAVAHOME="/opt/zimbra/common/lib/jvm/java"
LDAPBESSEARCHSET="set"
LDAPHOST="ldap.example.com"
LDAPPORT="389"
LDAPREPLICATIONTYPE="master"
LDAPSERVERID="2"
MAILBOXDMEMORY="512"
MODE="https"
MYSQLMEMORYPERCENT="30"
POPPORT="110"
POPPROXYPORT="7110"
POPSSLPORT="995"
POPSSLPROXYPORT="7995"
PROXYMODE="https"
REMOVE="no"
RUNVMHA="no"
SMTPDEST="admin@example.com"
SMTPHOST=""
SMTPNOTIFY="yes"
SMTPSOURCE="admin@example.com"
SNMPNOTIFY="yes"
SNMPTRAPHOST="ldap.example.com"
SPELLURL=""
STARTSERVERS="yes"
SYSTEMMEMORY="2.0"
UPGRADE="yes"
USEEPHEMERALSTORE="no"
USESPELL="no"
ZIMBRA_REQ_SECURITY="yes"
ldap_bes_searcher_password="We1u0kdSb0"
ldap_dit_base_dn_config="cn=zimbra"
ldap_nginx_password="We1u0kdSb0"
mailboxd_directory="/opt/zimbra/mailboxd"
mailboxd_keystore="/opt/zimbra/conf/keystore"
mailboxd_keystore_password="2d570WX55j"
mailboxd_truststore="/opt/zimbra/common/lib/jvm/java/lib/security/cacerts"
mailboxd_truststore_password="changeit"
ssl_default_digest="sha256"
zimbraIPMode="ipv4"
zimbraPrefTimeZoneId="Asia/Singapore"
zimbra_ldap_userdn="uid=zimbra,cn=admins,cn=zimbra"
zimbra_require_interprocess_security="1"
INSTALL_PACKAGES="zimbra-core zimbra-ldap zimbra-snmp "
