AVDOMAIN="{{ zimbra_domain }}"
AVUSER="admin@{{ zimbra_domain }}"
CREATEADMIN="admin@{{ zimbra_domain }}"
CREATEADMINPASS="{{ zimbra_admin_password }}"
CREATEDOMAIN="{{ zimbra_domain }}"
DOCREATEADMIN="no"
DOCREATEDOMAIN="yes"
EXPANDMENU="no"
HOSTNAME="{{ zimbra_ldap_fqdn }}"
HTTPPORT="80"
HTTPPROXYPORT="8080"
HTTPSPORT="443"
HTTPSPROXYPORT="8443"
IMAPPORT="143"
IMAPPROXYPORT="7143"
IMAPSSLPORT="993"
IMAPSSLPROXYPORT="7993"
INSTALL_WEBAPPS="zimlet"
JAVAHOME="/opt/zimbra/common/lib/jvm/java"
LDAPBESSEARCHSET="set"
LDAPHOST="{{ zimbra_ldap_fqdn }}"
LDAPPORT="389"
LDAPREPLICATIONTYPE="master"
LDAPSERVERID="2"
MAILBOXDMEMORY="{{ zimbra_mailboxd_memory['stdout'] }}"
MODE="https"
MYSQLMEMORYPERCENT="30"
POPPORT="110"
POPPROXYPORT="7110"
POPSSLPORT="995"
POPSSLPROXYPORT="7995"
PROXYMODE="https"
REMOVE="no"
RUNVMHA="no"
SMTPDEST="admin@{{ zimbra_domain }}"
SMTPHOST=""
SMTPNOTIFY="yes"
SMTPSOURCE="admin@{{ zimbra_domain }}"
SNMPNOTIFY="yes"
SNMPTRAPHOST="{{ zimbra_ldap_fqdn }}"
SPELLURL=""
STARTSERVERS="yes"
SYSTEMMEMORY="{{ zimbra_system_memory['stdout'] }}"
UPGRADE="yes"
USEEPHEMERALSTORE="no"
USESPELL="no"
ZIMBRA_REQ_SECURITY="yes"
ldap_bes_searcher_password="{{ zimbra_system_password }}" 
ldap_dit_base_dn_config="cn=zimbra"
LDAPROOTPASS="{{ zimbra_system_password }}" 
LDAPADMINPASS="{{ zimbra_system_password }}" 
LDAPPOSTPASS="{{ zimbra_system_password }}" 
LDAPREPPASS="{{ zimbra_system_password }}" 
LDAPAMAVISPASS="{{ zimbra_system_password }}" 
ldap_nginx_password="{{ zimbra_system_password }}"
mailboxd_directory="/opt/zimbra/mailboxd"
mailboxd_keystore="/opt/zimbra/conf/keystore"
mailboxd_keystore_password="{{ zimbra_system_password }}"
mailboxd_truststore="/opt/zimbra/common/lib/jvm/java/lib/security/cacerts"
mailboxd_truststore_password="changeit"
ssl_default_digest="sha256"
zimbraIPMode="ipv4"
zimbraPrefTimeZoneId="Asia/Singapore"
zimbra_ldap_userdn="uid=zimbra,cn=admins,cn=zimbra"
zimbra_require_interprocess_security="1"
INSTALL_PACKAGES="zimbra-core zimbra-ldap zimbra-snmp "
