AVDOMAIN=""
AVUSER="admin@example.com"
CREATEADMIN="admin@example.com"
CREATEDOMAIN="example.com"
DOCREATEADMIN="no"
DOCREATEDOMAIN="no"
ENABLEGALSYNCACCOUNTS="no"
EXPANDMENU="no"
EphemeralBackendURL="ldap://default"
HOSTNAME="mta.example.com"
HTTPPORT="80"
HTTPPROXYPORT="8080"
HTTPSPORT="443"
HTTPSPROXYPORT="8443"
IMAPPORT="143"
IMAPPROXYPORT="7143"
IMAPSSLPORT="993"
IMAPSSLPROXYPORT="7993"
INSTALL_WEBAPPS="zimlet"
JAVAHOME="/opt/zimbra/common/lib/jvm/java"
LDAPDEFAULTSLOADED="1"
LDAPHOST="ldap.example.com"
LDAPPORT="389"
MAILBOXDMEMORY="512"
MODE="https"
MYSQLMEMORYPERCENT="30"
POPPORT="110"
POPPROXYPORT="7110"
POPSSLPORT="995"
POPSSLPROXYPORT="7995"
PROXYMODE="https"
REMOVE="no"
RUNARCHIVING="no"
RUNAV="yes"
RUNCBPOLICYD="no"
RUNDKIM="yes"
RUNSA="yes"
RUNVMHA="no"
SMTPDEST="admin@example.com"
SMTPHOST="mta.example.com"
SMTPNOTIFY="yes"
SMTPSOURCE="admin@example.com"
SNMPNOTIFY="yes"
SNMPTRAPHOST="mta.example.com"
SPELLURL=""
STARTSERVERS="yes"
SYSTEMMEMORY="2.0"
TRAINSAHAM="ham.lyfqcivs4i@example.com"
TRAINSASPAM="spam.ze3mvljz@example.com"
UPGRADE="yes"
USEEPHEMERALSTORE="yes"
USEKBSHORTCUTS="TRUE"
USESPELL="no"
VERSIONUPDATECHECKS="TRUE"
VIRUSQUARANTINE="virus-quarantine.ai6l70db@example.com"
ZIMBRA_REQ_SECURITY="yes"
ldap_dit_base_dn_config="cn=zimbra"
mailboxd_directory="/opt/zimbra/mailboxd"
mailboxd_keystore="/opt/zimbra/conf/keystore"
mailboxd_keystore_password="auki4pSl"
mailboxd_truststore="/opt/zimbra/common/lib/jvm/java/lib/security/cacerts"
mailboxd_truststore_password="changeit"
postfix_mail_owner="postfix"
postfix_setgid_group="postdrop"
ssl_default_digest="sha256"
zimbraDefaultDomainName="example.com"
zimbraFeatureBriefcasesEnabled="Enabled"
zimbraFeatureTasksEnabled="Enabled"
zimbraIPMode="ipv4"
zimbraMtaMyNetworks="127.0.0.0/8 [::1]/128 192.168.122.0/24"
zimbraPrefTimeZoneId="Asia/Singapore"
zimbraVersionCheckInterval="1d"
zimbraVersionCheckNotificationEmail="admin@example.com"
zimbraVersionCheckNotificationEmailFrom="admin@example.com"
zimbraVersionCheckSendNotifications="TRUE"
zimbraVersionCheckServer=""
zimbra_ldap_userdn="uid=zimbra,cn=admins,cn=zimbra"
zimbra_require_interprocess_security="1"
INSTALL_PACKAGES="zimbra-core zimbra-mta zimbra-snmp "
[root@mta zimbra]# 
[root@mta zimbra]# cat config.2941 
AVDOMAIN=""
AVUSER="admin@example.com"
CREATEADMIN="admin@example.com"
CREATEDOMAIN="example.com"
DOCREATEADMIN="no"
DOCREATEDOMAIN="no"
ENABLEGALSYNCACCOUNTS="no"
EXPANDMENU="no"
EphemeralBackendURL="ldap://default"
HOSTNAME="mta.example.com"
HTTPPORT="80"
HTTPPROXYPORT="8080"
HTTPSPORT="443"
HTTPSPROXYPORT="8443"
IMAPPORT="143"
IMAPPROXYPORT="7143"
IMAPSSLPORT="993"
IMAPSSLPROXYPORT="7993"
INSTALL_WEBAPPS="zimlet"
JAVAHOME="/opt/zimbra/common/lib/jvm/java"
LDAPDEFAULTSLOADED="1"
LDAPHOST="ldap.example.com"
LDAPPORT="389"
MAILBOXDMEMORY="512"
MODE="https"
MYSQLMEMORYPERCENT="30"
POPPORT="110"
POPPROXYPORT="7110"
POPSSLPORT="995"
POPSSLPROXYPORT="7995"
PROXYMODE="https"
REMOVE="no"
RUNARCHIVING="no"
RUNAV="yes"
RUNCBPOLICYD="no"
RUNDKIM="yes"
RUNSA="yes"
RUNVMHA="no"
SMTPDEST="admin@example.com"
SMTPHOST="mta.example.com"
SMTPNOTIFY="yes"
SMTPSOURCE="admin@example.com"
SNMPNOTIFY="yes"
SNMPTRAPHOST="mta.example.com"
SPELLURL=""
STARTSERVERS="yes"
SYSTEMMEMORY="2.0"
TRAINSAHAM="ham.lyfqcivs4i@example.com"
TRAINSASPAM="spam.ze3mvljz@example.com"
UPGRADE="yes"
USEEPHEMERALSTORE="yes"
USEKBSHORTCUTS="TRUE"
USESPELL="no"
VERSIONUPDATECHECKS="TRUE"
VIRUSQUARANTINE="virus-quarantine.ai6l70db@example.com"
ZIMBRA_REQ_SECURITY="yes"
ldap_dit_base_dn_config="cn=zimbra"
mailboxd_directory="/opt/zimbra/mailboxd"
mailboxd_keystore="/opt/zimbra/conf/keystore"
mailboxd_keystore_password="auki4pSl"
mailboxd_truststore="/opt/zimbra/common/lib/jvm/java/lib/security/cacerts"
mailboxd_truststore_password="changeit"
postfix_mail_owner="postfix"
postfix_setgid_group="postdrop"
ssl_default_digest="sha256"
zimbraDefaultDomainName="example.com"
zimbraFeatureBriefcasesEnabled="Enabled"
zimbraFeatureTasksEnabled="Enabled"
zimbraIPMode="ipv4"
zimbraMtaMyNetworks="127.0.0.0/8 [::1]/128 192.168.122.0/24"
zimbraPrefTimeZoneId="Asia/Singapore"
zimbraVersionCheckInterval="1d"
zimbraVersionCheckNotificationEmail="admin@example.com"
zimbraVersionCheckNotificationEmailFrom="admin@example.com"
zimbraVersionCheckSendNotifications="TRUE"
zimbraVersionCheckServer=""
zimbra_ldap_userdn="uid=zimbra,cn=admins,cn=zimbra"
zimbra_require_interprocess_security="1"
INSTALL_PACKAGES="zimbra-core zimbra-mta zimbra-snmp "
