AVDOMAIN="{{ ansible_fqdn }}"
AVUSER="admin@{{ ansible_fqdn }}"
CREATEADMIN="admin@{{ ansible_domain }}"
CREATEADMINPASS="{{ zimbra_admin_password }}"
CREATEDOMAIN="{{ ansible_domain }}"
DOCREATEADMIN="no"
DOCREATEDOMAIN="no"
ENABLEGALSYNCACCOUNTS="no"
EXPANDMENU="no"
EphemeralBackendURL="ldap://default"
HOSTNAME="{{ ansible_fqdn }}"
HTTPPORT="8080"
HTTPPROXY="TRUE"
HTTPPROXYPORT="80"
HTTPSPORT="8443"
HTTPSPROXYPORT="443"
IMAPPORT="7143"
IMAPPROXYPORT="143"
IMAPSSLPORT="7993"
IMAPSSLPROXYPORT="993"
INSTALL_WEBAPPS="zimlet"
JAVAHOME="/opt/zimbra/common/lib/jvm/java"
LDAPDEFAULTSLOADED="1"
{% for host in groups['zimbra_ldap'] %}
LDAPHOST="{{ hostvars[host]['ansible_fqdn'] }}"
{% endfor %}
LDAPPORT="389"
MAILBOXDMEMORY="{{ zimbra_mailboxd_memory['stdout'] }}"
MAILPROXY="TRUE"
MODE="https"
MYSQLMEMORYPERCENT="30"
POPPORT="7110"
POPPROXYPORT="110"
POPSSLPORT="7995"
POPSSLPROXYPORT="995"
PROXYMODE="https"
REMOVE="no"
RUNVMHA="no"
SMTPDEST="admin@{{ ansible_domain }}"
SMTPHOST=""
SMTPNOTIFY="yes"
SMTPSOURCE="admin@{{ ansible_domain }}"
SNMPNOTIFY="yes"
SNMPTRAPHOST="{{ ansible_fqdn }}"
SPELLURL=""
STARTSERVERS="yes"
STRICTSERVERNAMEENABLED="TRUE"
SYSTEMMEMORY="{{ zimbra_system_memory['stdout'] }}"
{% for host in groups['zimbra_ldap'] %}
TRAINSAHAM="ham.{{ hostvars[host]['zimbra_random_chars_1']['stdout'] }}@{{ ansible_domain }}"
TRAINSASPAM="spam.{{ hostvars[host]['zimbra_random_chars_1']['stdout'] }}@{{ ansible_domain }}"
UPGRADE="yes"
USEEPHEMERALSTORE="yes"
USEKBSHORTCUTS="TRUE"
USESPELL="no"
VERSIONUPDATECHECKS="TRUE"
VIRUSQUARANTINE="virus-quarantine.{{ hostvars[host]['zimbra_random_chars_1']['stdout'] }}@{{ ansible_domain }}"
{% endfor %}
ZIMBRA_REQ_SECURITY="yes"
{% for host in groups['zimbra_ldap'] %}
ldap_bes_searcher_password="{{ hostvars[host]['zimbra_random_chars_2']['stdout'] }}"
ldap_dit_base_dn_config="cn=zimbra"
LDAPROOTPASS="{{ hostvars[host]['zimbra_random_chars_2']['stdout'] }}"
LDAPADMINPASS="{{ hostvars[host]['zimbra_random_chars_2']['stdout'] }}"
LDAPPOSTPASS="{{ hostvars[host]['zimbra_random_chars_2']['stdout'] }}"
LDAPREPPASS="{{ hostvars[host]['zimbra_random_chars_2']['stdout'] }}"
LDAPAMAVISPASS="{{ hostvars[host]['zimbra_random_chars_2']['stdout'] }}"
ldap_nginx_password="{{ hostvars[host]['zimbra_random_chars_2']['stdout'] }}"
{% endfor %}
mailboxd_directory="/opt/zimbra/mailboxd"
mailboxd_keystore="/opt/zimbra/conf/keystore"
mailboxd_keystore_password="GNGxyOdP"
mailboxd_truststore="/opt/zimbra/common/lib/jvm/java/lib/security/cacerts"
mailboxd_truststore_password="changeit"
ssl_default_digest="sha256"
zimbraDefaultDomainName="{{ ansible_domain }}"
zimbraFeatureBriefcasesEnabled="Enabled"
zimbraFeatureTasksEnabled="Enabled"
zimbraIPMode="ipv4"
zimbraPrefTimeZoneId="{{ zimbra_timezone }}"
zimbraVersionCheckInterval="1d"
zimbraVersionCheckNotificationEmail="admin@{{ ansible_domain }}"
zimbraVersionCheckNotificationEmailFrom="admin@{{ ansible_domain }}"
zimbraVersionCheckSendNotifications="TRUE"
zimbraVersionCheckServer=""
zimbra_ldap_userdn="uid=zimbra,cn=admins,cn=zimbra"
zimbra_require_interprocess_security="1"
INSTALL_PACKAGES="zimbra-core zimbra-snmp zimbra-memcached zimbra-proxy "
